torch.dist,2,rule_1210,input,other
torch.dist,2,rule_1215,input,other
torch.dist,2,rule_1225,input,other
torch.dist,2,rule_1229,input,other
torch.dist,2,rule_1236,input,other
torch.dist,2,rule_1244,input,other
torch.dist,2,rule_1337,input,other
