torch.dist,2,rule_1208,input,other
torch.dist,2,rule_1212,input,other
torch.dist,2,rule_1221,input,other
torch.dist,2,rule_1225,input,other
torch.dist,2,rule_1230,input,other
torch.dist,2,rule_1238,input,other
torch.dist,2,rule_1326,input,other
